body {
	background-color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	font-variant: small-caps;
	color: gray;
}

body p {
	text-indent: 36px;
}

code {
	font-weight: bold;
}

blockquote.session {
	font-family: "Courier New", Courier, mono;
	background-color: black;
}

blockquote.session ol {
	font-weight: bold;
	border-style: dotted;
	padding-left: 0;
}

blockquote.session ol li {
	list-style-type: none;
}

blockquote.session ol li.command {
	color: white;
}

blockquote.session ol li.command:before {
	content:"$ ";
}

blockquote.session ol li.comment:before {
	content: "# ";
}

blockquote.session ol li.comment {
	font-weight: bold;
	font-style: italic;
	color: gray;
}

blockquote.session ol li.pseudo-response:before {
	content: "==> (";
}

blockquote.session ol li.pseudo-response:after {
	content: ")";
}

blockquote.session ol li.pseudo-response {
	font-weight: bold;
	font-style: italic;
	color: gray;
}